body {
    background: #ceffff
}

.box {
    position: relative;
    margin: auto;
    display: block;
    width: 1100px;
    height: 700px;
    background: none;
}

.head {
    position: absolute;
    top: 47%;
    right: -5%;
    width: 40%;
    height: 20%;
    background-color: #fa7655;
}

.top-head {
    position: absolute;
    bottom: 99%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent; 
    border-bottom: 50px solid #fa7655;
}

.bottom-head {
    position: absolute;
    top: 99%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 50px solid #fa7655;
}

.top-eye {
    position: absolute;
    bottom: 98%;
    left: 26%;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-radius: 10%;
    background-color:#e2ac31;
    z-index: -1;
}

.bottom-eye {
    position: absolute;
    top: 98%; 
    left: 26%; 
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border-radius: 10%;
    background-color: #e2ac31;
    z-index: -1;
}

.top-pupil {
    position: absolute;
    right: 35%; 
    top: 15%; 
    width: 10px;
    height: 20px;
    background-color: rgb(37, 17, 5);
    transform: rotate(-45deg);
    border-radius: 25%;
    z-index: 1;
}

.bottom-pupil {
    position: absolute;
    left: 35%;
    bottom: 15%;
    width: 10px;
    height: 20px;
    background-color: rgb(37, 17, 5);
    transform: rotate(-45deg);
    border-radius: 25%;
    z-index: 1;
}

.membrane {
    position: absolute;
    right: 100%;
    bottom: -78.5%;
    width: 60px;
    height: 380px;
    background-color: #dd4e51
}

.tentacle {
    position: absolute;
    top: 0%;
    right: -1%;
    width: 1200%;
    height: 40px;
    background-color: #f4643f;
    font-family: 'Pangolin', 'Arial', cursive;
}

.top-neck {
    position: absolute;
    bottom: 100%;
    width: 0; 
    height: 0; 
    border-right: 110px solid transparent;
    border-bottom: 130px solid #fa7655;
}

.bottom-neck {
    position: absolute;
    top: 100%;
    width: 0; 
    height: 0; 
    border-right: 110px solid transparent;
    border-top: 130px solid #fa7655;
}

ul.hr
    {
    position:absolute;
    top: 10%;
    bottom: 60%;
    left: -5%;
    padding: 50px;

    }
    ul.hr li
    {
    display: inline;
    margin-right: 0px;
    background-color: #e6e9b5;
    border-left: solid 3px #fa7655;
    padding: 4px;
    font-size: 26px;
    font-family: 'Pangolin', 'Arial', cursive;
    }

p {
     z-index: 3;
     top: -50%;
     left: -15px;
     position: relative;
     white-space: nowrap;
     font-size: 25px;
     color: #111;
     font-family: 'Pangolin', 'Arial', cursive;
    }

.legend-box {
    position: absolute;
    top: 19%;
    right: -2%;
    width: 300px;
    height: 90px;
}

.can {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40px;
    height: 40px;
    background-color: #fa7655;
    border-radius: 10%;
}

.want {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 40px;
    height: 40px;
    background-color: #fed36b;
    border-radius: 10%;
}

.text-can {
    position: absolute;
    left: 140%;
    top: -45%;
}

.text-want {
    position: absolute;
    left: 140%;
    top: -45%;
}

.name {
    position: absolute;
    top: 5%;
    white-space: nowrap;
    font-size: 40px;
    color: #111;
    font-family: 'Pangolin', 'Arial', cursive;
}